.user-input-container {
    position: static;
    padding-top: 20px;
    padding-left: 6px;
    padding-right: 6px;
    color: white;
    text-align: center;
}

.message-input {
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 6px;
    border-style: solid;
    border-color: darkgray;
    height: 4vh;
    padding-top: 0.9%;
}

h2 {
    text-align: center;
}

.message {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    color: black;
    position: relative;
    width: 89%;
    text-align: left;
    border-style: solid;
    border-color: darkgray;
}

.btn {
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    text-align: center;
    width: 10%;
    background-color: rgb(107, 107, 107);
    border-style: solid;
    border-color: darkgray;
}