.user-input-container {
    position: relative;
    padding-top: 20px;
    padding-left: 6px;
    padding-right: 6px;
    color: white;
    text-align: center;
}

.message {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    color: black;
    width: 89%;
    text-align: left;
    border-style: solid;
    border-color: darkgray;
    margin-top: 0.5%;
}
