.chat-container {
    padding-top: 20px;
    padding-left: 6px;
    padding-right: 6px;
    color: white;
    position: static;
}

h2 {
    text-align: center;
}

.chat-logs {
    position: relative;
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 6px;
    text-align: left;
    border-style: solid;
    border-color: darkgray;
    height: 60vh;
}

th {
    color: cyan;
    font-size: 18px;
}