.chat-container {
    padding-top: 20px;
    padding-left: 6px;
    padding-right: 6px;
    color: white;
    position: static;
    display: block;
}

.loading-message {
    z-index: 11;
    position: relative;
    text-align: center;
    font-size: 20px;
}

.chat-logs {
    position: relative;
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 6px;
    text-align: left;
    border-style: solid;
    border-color: darkgray;
    height: 80%;
    max-height: 75vh;
    overflow-y: auto;
    z-index: 0;
}

.table-row1 {
    width: 15%;
    padding-right: 6px;
    vertical-align: top;
}

.table-row2 {
    width: 75%;
    padding-bottom: 12px;
    padding-right: 6px;
    text-align: left;
    vertical-align: top;
}

.table-row3 {
    width: 15%;
    vertical-align: top;
}

th {
    top: 0;
    position: sticky;
    background-color: black;
    color: cyan;
    font-size: 18px;
    z-index: 10;
}

tr:nth-child(even) {
    background-color: rgb(26, 26, 26);
}

.background {
    position: sticky;
    top: -6px;
    margin-left: -6px;
    height: 6px;
    width: auto;
    background-color: black;
    color: black;
    z-index: 5;
}