div {
    position: relative;
    top: 40%;
}

.user-name {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    color: black;
    position: relative;
    width: 40%;
    text-align: center;
    border-style: solid;
    border-color: darkgray;
}
